root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
# shfmt (github.com/mvdan/sh) - these options only affect shell scripts
space_redirects = true
switch_case_indent = true

[*.md{,x}]
trim_trailing_whitespace = false

[{Makefile,*.mk}]
indent_style = tab
