node_modules
.next

# Local Netlify folder
.netlify

# Ignore next-mdx-enhanced cache directory
.mdx-data

# contentlayer build output
.contentlayer

tsconfig.tsbuildinfo

out/

# Playwright Test
test-results/
playwright-report/
playwright/.cache/

# Wrangler local state
.wrangler/
