node_modules
.next
dist/
.astro/

# Local Netlify folder
.netlify

tsconfig.tsbuildinfo

out/

# Playwright Test
test-results/
playwright-report/
playwright/.cache/

# Wrangler local state
.wrangler/
