---

---

<footer class="mt-auto text-sm text-gray-500">
  <div class="mx-auto max-w-[780px] px-4 py-6 sm:px-6 md:px-8">
    <div class="mt-6 flex flex-wrap items-center justify-center gap-8">
      <span>&copy; 2020 Fohte</span>
      <a href="/privacy-policy" class="text-gray-500 hover:text-gray-700">
        Privacy Policy
      </a>
    </div>
  </div>
</footer>
